<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Leo Montoya</title>
  <link rel="stylesheet" type="text/css" href="../static/css/stylesPortfolio.css">
  <link rel="icon" href="../static/favicon.ico">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Montserrat:wght@300&family=Sacramento&display=swap" rel="stylesheet">
</head>

<body>
  <div class="top-container">
    <div class="topnav">
      <a class="toptext" href="/">Home</a>
      <a class="toptext" href="/resume">Resume</a>
      <a class="active toptext" href="/portfolio">Portfolio</a>
      <a class="toptext" href="/contact">Contact</a>
    </div>
    <div class="contact-box">
      <h6 class="label">View my GitHub Portfolio!</h6>
      <hr>
      <table class="contact-info-table">
        <tr>
          <td class="contact-label">GitHub: </td>
          <td class="contact-info"><a href="https://github.com/LeoMontoya94" class="contact-info">https://github.com/LeoMontoya94</a></td>
        </tr>
      </table>
    </div>
  </div>

</body>

</html>

<!--<p class="contact-info">Email: <a class="contact-info" href="mailto:leolangstonmontoya@gmail.com">leolangstonmontoya@gmail.com</a></p>-->
<!--<p class="contact-info">Phone: <a class="contact-info">703-966-8858</a></p>-->
<!--<p class="contact-info">LinkedIn: <a class="contact-info" href="https://www.linkedin.com/in/leo-montoya-3114a7158/">https://www.linkedin.com/in/leo-montoya-3114a7158/</a></p>-->
<!-- -->