<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Leo Montoya</title>
  <link rel="stylesheet" type="text/css" href="../static/css/stylesResume.css">
  <link rel="icon" href="../static/favicon.ico">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Montserrat:wght@300&family=Sacramento&display=swap" rel="stylesheet">
</head>

<body>
  <div class="top-container">
    <div class="topnav">
      <a class="toptext" href="/">Home</a>
      <a class="active toptext" href="/resume">Resume</a>
      <a class="toptext" href="/portfolio">Portfolio</a>
      <a class="toptext" href="/contact">Contact</a>
    </div>
    <div class="contact-box">
      <h6 class="label">My Resume.</h6>
      <hr>
      <img class= "resume" src="../static/resume 07-06-21.PNG">

    </div>
  </div>

</body>

</html>

